<div class="content">
	<div class="buttons">
		<button type="button" class="btn btn-link" (click)="back()">
			<fa name="arrow-left"></fa> Back
		</button>
		<button type="button" class="btn btn-secondary" (click)="addInput()">
			<fa name="plus"></fa> Add input
		</button>
		<button type="button" class="btn btn-secondary" (click)="addCheckbox()">
			<fa name="plus"></fa> Add checkbox
		</button>
	</div>
	<form *ngIf="!!form">
		<div class="form-group">
			<label for="formName">Form name</label>
			<input type="text" [(ngModel)]="form.name" class="form-control" name="name" id="formName" placeholder="Enter form name">
		</div>
		<div class="items">
			<app-form-item *ngFor="let item of form.items; let idx = index" [data]="item" (removeItem)="removeItem(idx)"></app-form-item>
		</div>
		<button type="submit" class="btn btn-primary submit" (click)="save()">Save</button>
	</form>
</div>