<div class="content">
  <div class="form shadow">
    <span class="name">Forma 1</span>
    <span class="submitter">( Aleksandar Ralic )</span>
    <fa name="eye"></fa>
  </div>
  <div class="form shadow">
    <span class="name">Forma 1</span>
    <span class="submitter">( Aleksandar Ralic )</span>
    <fa name="eye"></fa>
  </div>
  <div class="form shadow">
    <span class="name">Forma 1</span>
    <span class="submitter">( Aleksandar Ralic )</span>
    <fa name="eye"></fa>
  </div>
  <div class="form shadow">
    <span class="name">Forma 1</span>
    <span class="submitter">( Aleksandar Ralic )</span>
    <fa name="eye"></fa>
  </div>
</div>