<nav class="navbar navbar-dark bg-dark mb-5">
	<a class="navbar-brand" href="/">ShowingForms</a>
	<div class="navbar-expand mr-auto">
		<div class="navbar-nav">
			<a class="nav-item nav-link active" href="#">Forms</a>
			<a class="nav-item nav-link" href="#">Submitted forms</a>
			<a class="nav-item nav-link" href="#">Create form</a>
		</div>
	</div>
	<div class="navbar-expand ml-auto navbar-nav">
		<div class="navbar-nav">
			<a class="nav-item nav-link" href="/login">
				Sign-in
			</a>
		</div>
	</div>
</nav>