<nav class="navbar navbar-dark bg-dark mb-5">
	<a class="navbar-brand" href="/">ShowingForms</a>
	<div class="navbar-expand mr-auto">
		<div class="navbar-nav">
			<a class="nav-item nav-link active" href="/forms">Forms</a>
			<a class="nav-item nav-link" href="/forms/submitted" appIsAuthenticated>Submitted forms</a>
			<a class="nav-item nav-link" href="/forms/new" appIsAuthenticated>Create form</a>
		</div>
	</div>
	<div class="navbar-expand ml-auto navbar-nav">
		<div class="navbar-nav">
			<a class="nav-item nav-link" href="/login" *ngIf="!loggedIn">
				Log in
			</a>
			<a class="nav-item nav-link" (click)="logout()" appIsAuthenticated>
				Log out
			</a>
		</div>
	</div>
</nav>