.form {
	display: block;
	height: 56px;
	box-sizing: border-box;
	padding: 0 24px;
	margin: 15px 0;
	background: #fff;
	border-radius: 2px;
}

.form .name {
	line-height: 56px;
	font-weight: 500;
}

.form fa {
	line-height: 56px;
	float: right;
}