<div *ngIf="!!form" class="content">
	<form>
		<h1>{{form.name}}</h1>
		<div class="input-group input-group-default">
			<div class="input-group-prepend">
				<span class="input-group-text">Name</span>
			</div>
			<input type="text" [(ngModel)]="formValues.submittedBy" name="submittedBy" class="form-control" required>
		</div>
		<div *ngFor="let item of form.items; let i=index">
			<div [ngSwitch]="item.type">
				<div *ngSwitchCase="0">
					<div class="input-group input-group-default">
						<div class="input-group-prepend">
							<span class="input-group-text">{{item.label}}</span>
						</div>
						<input type="text" [(ngModel)]="formValues.values[i]" [name]="'item_ + i'" class="form-control" [required]="item.required">
					</div>
				</div>
				<div *ngSwitchCase="1">
					<div class="form-check">
						<input class="form-check-input" [(ngModel)]="formValues.values[i]" [name]="'item_ + i'" type="checkbox" value="" id="invalidCheck3">
						<label class="form-check-label" for="invalidCheck3">
							{{item.label}}
						</label>
					</div>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary" (click)="save()">Save</button>
	</form>
</div>